In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# load dataset
df = sm.datasets.fair.load_pandas().data
df.head()

   rate_marriage   age  yrs_married  ...  occupation  occupation_husb   affairs
0            3.0  32.0          9.0  ...         2.0              5.0  0.111111
1            3.0  27.0         13.0  ...         3.0              4.0  3.230769
2            4.0  22.0          2.5  ...         3.0              5.0  1.400000
3            4.0  37.0         16.5  ...         5.0              5.0  0.727273
4            5.0  27.0          9.0  ...         3.0              4.0  4.666666

[5 rows x 9 columns]

In [3]:

# add "affair" column: 1 represents having affairs, 0 represents not
df['affair'] = (df.affairs > 0).astype(int)
df.head()

   rate_marriage   age  yrs_married  ...  occupation_husb   affairs  affair
0            3.0  32.0          9.0  ...              5.0  0.111111       1
1            3.0  27.0         13.0  ...              4.0  3.230769       1
2            4.0  22.0          2.5  ...              5.0  1.400000       1
3            4.0  37.0         16.5  ...              5.0  0.727273       1
4            5.0  27.0          9.0  ...              4.0  4.666666       1

[5 rows x 10 columns]

In [4]:
# Records identified where there's no affair 
df.loc[df.affairs<=0].head()

      rate_marriage   age  yrs_married  ...  occupation_husb  affairs  affair
2053            4.0  32.0          9.0  ...              4.0      0.0       0
2054            4.0  27.0          6.0  ...              4.0      0.0       0
2055            4.0  22.0          2.5  ...              2.0      0.0       0
2056            5.0  42.0         23.0  ...              5.0      0.0       0
2057            5.0  27.0          2.5  ...              2.0      0.0       0

[5 rows x 10 columns]

In [5]:
df.groupby('affair').mean()

        rate_marriage        age  ...  occupation_husb   affairs
affair                            ...
0            4.329701  28.390679  ...         3.833758  0.000000
1            3.647345  30.537019  ...         3.884559  2.187243

[2 rows x 9 columns]

In [6]:
df.groupby('rate_marriage').mean()

                     age  yrs_married  ...   affairs    affair
rate_marriage                          ...
1.0            33.823232    13.914141  ...  1.201671  0.747475
2.0            30.471264    10.727011  ...  1.615745  0.635057
3.0            30.008056    10.239174  ...  1.371281  0.550856
4.0            28.856601     8.816905  ...  0.674837  0.322926
5.0            28.574702     8.311662  ...  0.348174  0.181446

[5 rows x 9 columns]

In [7]:
y, X = dmatrices('affair ~ rate_marriage + age + yrs_married + children + \
                  religious + educ + C(occupation) + C(occupation_husb)',
                  df, return_type="dataframe")
X.columns

Index(['Intercept', 'C(occupation)[T.2.0]', 'C(occupation)[T.3.0]',
       'C(occupation)[T.4.0]', 'C(occupation)[T.5.0]', 'C(occupation)[T.6.0]',
       'C(occupation_husb)[T.2.0]', 'C(occupation_husb)[T.3.0]',
       'C(occupation_husb)[T.4.0]', 'C(occupation_husb)[T.5.0]',
       'C(occupation_husb)[T.6.0]', 'rate_marriage', 'age', 'yrs_married',
       'children', 'religious', 'educ'],
      dtype='object')

In [8]:
X = X.rename(columns = {'C(occupation)[T.2.0]':'occ_2',
                        'C(occupation)[T.3.0]':'occ_3',
                        'C(occupation)[T.4.0]':'occ_4',
                        'C(occupation)[T.5.0]':'occ_5',
                        'C(occupation)[T.6.0]':'occ_6',
                        'C(occupation_husb)[T.2.0]':'occ_husb_2',
                        'C(occupation_husb)[T.3.0]':'occ_husb_3',
                        'C(occupation_husb)[T.4.0]':'occ_husb_4',
                        'C(occupation_husb)[T.5.0]':'occ_husb_5',
                        'C(occupation_husb)[T.6.0]':'occ_husb_6'})

In [9]:
y = np.ravel(y)

In [10]:
model = LogisticRegression()
model = model.fit(X, y)

# check the accuracy on the training set
model.score(X, y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7262016965127238